<!DOCTYPE html>
<html>
    <head>
        <title>Hackathon Planning 360&deg;</title>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' />
        <link href="/static/stylesheets/talks/ubhacking2012.css" rel="stylesheet" />
        <script src="/static/scripts/jquery.js"></script>
        <script>
            $(document).ready(function() {
                $(window).bind("hashchange", function() {
                    if(window.location.hash === "#/circle") {
                        $(".spoke").css("opacity", "1");
                    }                
                });
            });
        <script>
         <script type="text/javascript">
        
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-12868199-5']);
            _gaq.push(['_setDomainName', '.nickdirienzo.com']);
            _gaq.push(['_trackPageview']);
            
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        
        </script>

    </head>
    <body class="impress-not-supported">

        <div id="impress">

            <div id="title" class="step" data-x="0" data-y="0">
                <h1>Hackathon Planning 360&deg;</h1>
                <h2>And Looking Back On UB Hacking 2012</h2> 
            </div>

            <div id="me" class="step" data-x="1500" data-y="0">
                <h2>Who's This Guy?</h2>
                <p>Nick DiRienzo (<a href="https://twitter.com/#!/nickdirienzo">@nickdirienzo</a>)</p>
                <p>Chair of <strong>UB Hacking</strong></p>
                <p>Vice Chair of <strong>ACM @ UB</strong></p>
                <p>Freshman Engineering Practicum Intern at <strong>Google</strong></p>
            </div>

            <div id="ubh" class="step" data-x="1500" data-y="1000">
                <h2>What's UB Hacking?</h2>
            </div>


            <div id="before" class="step" data-x="3000" data-y="0">
                <h2>"But, I've Read About This Before!"</h2>
                <p><a href="http://hackdaymanifesto.com/">The Hack Day Manifesto</a></p>
                <p><a href="http://techcrunch.com/2012/03/31/hackathon-planning/">Hackathon Planning in Less Than 10 Steps</a></p>
                <p><a href="http://alexeymk.com/tag/hackathons">How To Host A Student Hackathon Blog Series</a></p>
            </div>

            <div id="hearme" class="step" data-x="3000" data-y="1000">
                <h2>Well, That's Nice. Hear Me Out Anyway.<h2>
            </div>
            
             <div id="committee" class="step spoke" data-x="3404" data-y="1293" data-z="-100" data-rotate="36">
                <h2>Committee</h2>
            </div> 
            
            <div id="committees" class="step ubh" data-x="3404" data-y="1293" data-z="-200" data-rotate="36">
                <h2>UB Hacking Committees</h2>
                <p>Sponsors, Media, Location, Talks</p>
            </div> 
            
            <div id="location" class="step spoke" data-x="3154" data-y="1475" data-z="-100" data-rotate="72">
                <h2>Location</h2>
            </div>

            <div id="ubhlocation" class="step ubh" data-x="3154" data-y="1475" data-z="-200" data-rotate="72">
                <h2>UB Hacking Location Details</h2>
                <p>5PM March 23, 2012 - 9PM March 24, 2012</p>
                <p>Capped at 60 hackers in Davis Hall's Salvadore Lounge</p>
            </div>

            <div id="theme" class="step spoke" data-x="2845" data-y="1475" data-z="-100" data-rotate="108">
                <h2>Theme</h2>
            </div>

            <div id="impact" class="step ubh" data-x="2845" data-y="1475" data-z="-200" data-rotate="108">
                <h2>UB Hacking Theme</h2>
                <p>Making An Impact</p>
            </div>

            <div id="sponsors" class="step spoke" data-x="2595" data-y="1293" data-z="-100" data-rotate="144">
                <h2>Sponsors</h2>
            </div>

            <div id="ubhsponsors" class="step" data-x="2595" data-y="1293" data-z="-200" data-rotate="144">
                <h2>UB Hacking Sponsors</h2>
                <img src="/static/images/ubh2012sponsors.png" />
            </div>

            <div id="food" class="step spoke" data-x="2500" data-y="1000" data-z="-100" data-rotate="180">
                <h2>Food</h2>
            </div>

            <div id="ubhfood" class="step ubh" data-x="2500" data-y="1000" data-z="-200" data-rotate="180">
                <h2>UB Hacking Food</h2>
                <p>Chipotle, Sandwiches, Pizza, CAFFEINE</p>
            </div>

             <div id="swag" class="step spoke" data-x="2595" data-y="706" data-z="-100" data-rotate="216">
                <h2>Swag</h2>
            </div>

            <div id="ubhswag" class="step ubh" data-x="2595" data-y="706" data-z="-200" data-rotate="216">
                <h2>UB Hacking Swag</h2>
                <p>Swag from Google, Rackspace, GitHub</p>
                <p>Utilized <a href="http://gitwatch.appspot.com/">GitWatch</a></p>
            </div>

            <div id="judging" class="step spoke" data-x="2845" data-y="524" data-z="-100" data-rotate="252">
                <h2>Judging</h2>
            </div>

            <div id="ubhjudging" class="step ubh" data-x="2845" data-y="524" data-z="-200" data-rotate="252">
                <h2>UB Hacking Judges & Judging Criteria</h2>
                <p>Judges from academia and industry</p>
                <p>Impact, Design, Functionality, Usability, Completeness</p>
            </div>

            <div id="prizes" class="step spoke" data-x="3154" data-y="524" data-z="-100" data-rotate="288">
                <h2>Prizes</h2>
            </div>

            <div id="ubhprizes" class="step ubh" data-x="3154" data-y="524" data-z="-200" data-rotate="288">
                <h2>UB Hacking Prizes</h2>
                <p>Overall prizes awarded by judges</p>
                <p>API prizes sponsored by <a href="http://www.iron.io/">Iron.io</a>, <a href="http://sendgrid.com/">SendGrid</a>, and <a href="http://www.twilio.com/">Twilio</a></p>
            </div>

            <div id="market" class="step spoke" data-x="3404" data-y="706" data-z="-100" data-rotate="324">
                <h2>Market</h2>
            </div>

            <div id="ubhmarket" class="step ubh" data-x="3404" data-y="706" data-z="-200" data-rotate="324">
                <h2>UB Hacking Marketing</h2>
                <p>CSE Undergraduate and Graduate Email Lists</p>
                <p>Facebook, Google+, Twitter</p>
                <p><a href="http://www.reddit.com/r/ubreddit">UBReddit</a></p>
            </div>

            <div id="surprises" class="step spoke" data-x="3500" data-y="999" data-z="-100" data-rotate="360">
                <h2>Surpises</h2>
            </div>

            <div id="ubhsurprises" class="step ubh" data-x="3500" data-y="999" data-z="-200" data-rotate="360">
                <h2>UB Hacking Surprises</h2>
                <p>Small mishaps, trash, and API credits</p>
            </div>

            <div id="circle" class="step" data-x="3000" data-y="1000" data-z="1000"></div>

            <div id="future" class="step" data-x="1000" data-y="1000">
                <h2>Future of UB Hacking</h2>
            </div>

            <div id="thanks" class="step" data-x="" data-y="1000">
                <h2>Thanks</h2>
                <p>Questions?</p>
            </div>

        </div>
        <script src="/static/scripts/impress.js"></script>
        <script>impress().init();</script>
    </body>
</html>

