<!DOCTYPE html>
<html>
    <head>
        <title>360&deg; of UB Hacking</title>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' />
        <link href="/static/stylesheets/talks/ubhacking2012.css" rel="stylesheet" />
        <script src="/static/scripts/jquery.js"></script>
        <script>
            $(document).ready(function() {
                $(window).bind("hashchange", function() {
                    if(window.location.hash === "#/circle") {
                        $(".spoke").css("opacity", "1");
                    }                
                });
            });
        </script>
         <script type="text/javascript">
        
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-12868199-5']);
            _gaq.push(['_setDomainName', '.nickdirienzo.com']);
            _gaq.push(['_trackPageview']);
            
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        
        </script>

    </head>
    <body class="impress-not-supported">

        <div id="impress">

            <div id="title" class="step" data-x="0" data-y="0">
                <h1>360&deg; of UB Hacking</h1>
            </div>

            <div id="me" class="step" data-x="1500" data-y="0">
                <h2>About Me</h2>
                <p>Nick DiRienzo (<a href="https://twitter.com/#!/nickdirienzo">@nickdirienzo</a>)</p>
               <ul>
                    <li>Chair of <strong>UB Hacking</strong></li>
                    <li>Vice Chair of <strong>ACM @ UB</strong></li>
                    <li>Freshman Engineering Practicum Intern at <strong>Google</strong></li>
                </ul>
            </div>

            <div id="ubh" class="step" data-x="1500" data-y="1000">
                <h2>About UB Hacking</h2>
                <p>First ever hackathon at the University at Buffalo</p>
                <p>24 hours of coding</p>
                <p>50 students</p>
            </div>


            <div id="before" class="step" data-x="3000" data-y="0">
                <h2>It's Been Done Before</h2>
                <p><a href="http://hackdaymanifesto.com/">The Hack Day Manifesto</a></p>
                <p><a href="http://techcrunch.com/2012/03/31/hackathon-planning/">Hackathon Planning in Less Than 10 Steps</a></p>
                <p><a href="http://alexeymk.com/tag/hackathons">How To Host A Student Hackathon Blog Series</a></p>
            </div>

            <div id="hearme" class="step" data-x="3000" data-y="1000">
                <h2>But, Hear Me Out<h2>
            </div>
            
             <div id="committee" class="step spoke" data-x="3383" data-y="1321" data-z="-100" data-rotate="40">
                <h2>Committee</h2>
            </div> 
            
            <div id="committees" class="step" data-x="3383" data-y="1321" data-z="-200" data-rotate="40">
                <h2>UB Hacking Committees</h2>
                <ul>
                    <li>Sponsors</li>
                    <li>Media and Website</li>
                    <li>Location</li>
                    <li>Talks</li>
                </ul>
            </div> 
            
            <div id="location" class="step spoke" data-x="3086" data-y="1492" data-z="-200" data-rotate="80">
                <h2>Location</h2>
            </div>

            <div id="ubhlocation" class="step" data-x="3086" data-y="1492" data-z="-300" data-rotate="80">
                <h2>UB Hacking Location Details</h2>
                <p>5PM March 23, 2012 - 9PM March 24, 2012</p>
                <p>Capped at 60 hackers in Davis Hall's Salvadore Lounge</p>
            </div>

            <div id="theme" class="step spoke" data-x="2750" data-y="1433" data-z="-300" data-rotate="120">
                <h2>Theme</h2>
            </div>

            <div id="impact" class="step" data-x="2750" data-y="1433" data-z="-400" data-rotate="120">
                <h2>UB Hacking Theme</h2>
                <p>Making An Impact</p>
            </div>

            <div id="sponsors" class="step spoke" data-x="2530" data-y="1171" data-z="-400" data-rotate="160">
                <h2>Sponsors</h2>
            </div>

            <div id="ubhsponsors" class="step" data-x="2530" data-y="1171" data-z="-500" data-rotate="160">
                <h2>UB Hacking Sponsors</h2>
                <img src="/static/images/ubh2012sponsors.png" />
            </div>

            <div id="food" class="step spoke" data-x="2530" data-y="828" data-z="-500" data-rotate="200">
                <h2>Food</h2>
            </div>

            <div id="ubhfood" class="step" data-x="2530" data-y="828" data-z="-600" data-rotate="200">
                <h2>UB Hacking Food</h2>
                <p>Besides having water, soda, and energy drinks on hand...</p>
                <ul>
                    <li>Dinner 1: Chipotle Burritos and Chips</li>
                    <li>Midnight Snack: Wegman's Sandwiches, Fruits, and Cookies</li>
                    <li>Breakfast: Dunkin' Donuts and Bagels</li>
                    <li>Lunch: SubWay 6-inch Subs</li>
                    <li>Dinner 2: Pizza</li>
                </ul>
            </div>

             <div id="swag" class="step spoke" data-x="2750" data-y="566" data-z="-600" data-rotate="240">
                <h2>Swag</h2>
            </div>

            <div id="ubhswag" class="step" data-x="2750" data-y="566" data-z="-700" data-rotate="240">
                <h2>UB Hacking Swag</h2>
                <p>Google headbands, sweatbands, aviators, duffle bags, etc</p>
                <p>Rackspace t-shirts, stickers, and stress "clouds"</p>
                <p>GitHub stickers, mug, and coasters (awarded using <a href="http://http://gitwatch.appspot.com/">GitWatch</a>)</p>
            </div>

            <div id="judging" class="step spoke" data-x="3086" data-y="507" data-z="-700" data-rotate="280">
                <h2>Judging</h2>
            </div>

            <div id="ubhjudging" class="step" data-x="3086" data-y="507" data-z="-800" data-rotate="280">
                <h2>UB Hacking Judges & Judging Criteria</h2>
                <div class="left">
                    <p>Nicholas Barone</p>
                    <p class="title">Entrepreneurial Designer</p>
                    <p>Michael Canzoneri</p>
                    <p class="title">Lead Systems Engineer, <a href="http://www.synacor.com/">Synacor</a></p>
                    <p>Geoffrey Challen</p>
                    <p class="title">Assistant Professor, <a href="http://www.buffalo.edu/">UB</a></p>
                    <p>Paddy Foran</p>
                    <p class="title">Software Engineering Intern, <a href="http://www.iron.io/">Iron.io</a></p>
                    <p>Dan Magnuszewski</p>
                    <p class="title">Freelance Developer and Entrepreneur</p>
                </div>
                <div class="right">
                    <p>Impact/Usefulness</p>
                    <p>Design</p>
                    <p>Usability</p>
                    <p>Functionality</p>
                    <p>Completeness</p>
                </div>
            </div>

            <div id="prizes" class="step spoke" data-x="3383" data-y="678" data-z="-800" data-rotate="320">
                <h2>Prizes</h2>
            </div>

            <div id="ubhprizes" class="step" data-x="3383" data-y="678" data-z="-900" data-rotate="320">
                <h2>UB Hacking Prizes</h2>
                <p><strong>1st:</strong> iPad 3 for each member, 1 year of Rackspace Cloud Hosting, 1 year of GitHub Silver, and GitHub T-Shirts</p>
                <p><strong>2nd:</strong> Xbox 360 for each member, and 1 year of GitHub Bronze</p>
                <p><strong>3rd:</strong> Roku 2 XD for each member, and 6 months of GitHub Bronze</p>
                <p>API prizes sponsored by <a href="http://www.iron.io/">Iron.io</a>, <a href="http://sendgrid.com/">SendGrid</a>, and <a href="http://www.twilio.com/">Twilio</a></p>
            </div>

            <div id="market" class="step spoke" data-x="3500" data-y="999" data-z="-900" data-rotate="360">
                <h2>Market</h2>
            </div>

            <div id="ubhmarket" class="step" data-x="3500" data-y="999" data-z="-1000" data-rotate="360">
                <h2>UB Hacking Marketing</h2>
                <p>CSE Undergraduate and Graduate Email Lists</p>
                <p>Facebook, Google+, Twitter</p>
                <p><a href="http://www.reddit.com/r/ubreddit">UBReddit</a></p>
            </div>

            <div id="circle" class="step" data-x="3000" data-y="1000" data-z="1000"></div>

            <div id="future" class="step" data-x="1000" data-y="1000">
                <h2>What's Next for UB Hacking?</h2>
                <p>Weekend hackathon</p>
                <p>Expand to other universities</p>
                <p>More sponsors</p>
                <p>Cash prizes</p>
                <p>
            </div>

            <div id="thanks" class="step" data-x="" data-y="1000">
                <h2>Thanks</h2>
                <p>Questions?</p>
            </div>

        </div>
        <script src="/static/scripts/impress.js"></script>
        <script>impress().init();</script>
    </body>
</html>

