{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
            <p>Nick DiRienzo is currently a freshman studying computer science at the State University of New York
             at Buffalo. He is interested in artificial intelligence, primarily in the areas of
             computer vision and machine learning. He is also interested in natural user interfaces
             by using those areas of AI. Nick is an undergraduate research assistant in the Computer
             Vision and Perceptual Machines Lab.</p>
            <p>Nick is also an active member of the university's Association of Computer Machinery
             (ACM) student chapter. He is currently working with a team of students to solve the
             bus tracking problem at the university.</p>
            <p>Feel free to contact Nick through any of the social websites listed on the left, or
             through <a href="mailto:nick@nickdirienzo.com">email</a>.</p>
{% endblock %}