<!DOCTYPE html>
<html>
    <head>
        <title>Nick DiRienzo> {% block title %}Home{% endblock %}</title>
        <link rel='stylesheet' type='text/css' href='/static/stylesheets/base.css' />
        {% block css %}{% endblock %}
        <script type="text/javascript" src="/static/scripts/jquery.js"></script>
        {% block scripts %}{% endblock %}
        <!-- Start Google Analytics -->
        <script type="text/javascript">
        
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-12868199-5']);
            _gaq.push(['_setDomainName', '.nickdirienzo.com']);
            _gaq.push(['_trackPageview']);
            
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        
        </script>
        <!-- End Google Analytics -->
    </head>
    
    <body>
    
        <div id="sidebar">
            <ul id="menu">
                <a href="/"><li {% ifequal page_name "home" %}class="current-page"{% endifequal %}>Nick DiRienzo</li></a>
                <a href="/posts/">
                <li {% ifequal page_name "posts" %}class="current-page"{% endifequal %}>Posts</li></a>
                <a href="/projects"><li {% ifequal page_name "projects" %}class="current-page"{% endifequal %}>Projects</li></a>
                <a href="/talks"><li {% ifequal page_name "talks" %}class="current-page"{% endifequal %}>Talks</li></a>
            </ul>
            <ul id="user-menu">
                {% if not username %}
                <a href="{{ login_url }}"><li>Sign In</li></a>
                {% else %}
                <li>{{ username }}</li>
                {% if is_admin %}
                <a href="/posts/edit/"><li {% ifequal page_name "post_editor" %}class="current-page"{% endifequal %}>Post Editor</li></a>
                {% endif %}
                <a href="{{ logout_url }}"><li>Sign Out</li></a>
                {% endif %}
            </ul>
            <ul id="social-menu">
                <li class="menu-item"><a href="https://github.com/nickdirienzo" target="_blank">GitHub</a></li>
                <li class="menu-item"><a href="http://twitter.com/#!/nickdirienzo" target="_blank">Twitter</a></li>
                <li class="menu-item"><a href="https://plus.google.com/113833436566676491098" target="_blank">Google+</a></li>
                <li class="menu-item"><a href="mailto:nick@nickdirienzo.com">Email</a></li>
                <li class="menu-item"><a href="http://www.linkedin.com/in/nickdirienzo" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
        
        <div id="content-wrapper">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
    
</html>
