{% extends "base.html" %}

{% block title %}Edit Blog Post{% endblock %}

{% block css %}<link rel='stylesheet' type='text/css' href='/static/stylesheets/blog.css' />{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#post-button").click(function() {
            $("#new-post-form").submit();
        });
    });
</script>
{% endblock %}


{% block content %}            
            {% if is_admin %}
                <form id="new-post-form" action="/blog/edit?title={{ title }}" method="post">
                    <table>
                        <tr>
                            <td><label for="updated-title">Title:</label></td>
                            <td><input name="updated-title" value="{{ title }}" /></td>
                        </tr>
                        <tr id="title-error" {% if not title_error %}style="display: none;"{% endif %}>
                            <td></td>
                            <td style="color: red;">You did not enter a title for the post.</td>
                        </tr>
                        <tr id="title-exists-error" {% if not title_exists_error %}style="display: none;"{% endif %}>
                            <td></td>
                            <td style="color: red;">A post with this title already exists.</td>
                        </tr>
                        <tr>
                            <td><label for="updated-content">Content:</label></td>
                            <td><textarea name="updated-content" rows="10" cols="50">{{ content }}</textarea></td>
                            <td>Some reminders: <br />
                                Don't forget paragraph tags <br />
                                Separator = <code>&lt;div class="sep"&gt;&lt;/div&gt;</code>
                            </td>
                        </tr>
                        <tr id="content-error" {% if not content_error %}style="display: none;"{% endif %}>
                            <td></td>
                            <td style="color: red;">You did not enter any content for the post.</td>
                        </tr>
                        <tr>
                            <td><label for="updated-tags">Post Tags:</label></td>
                            <td><input name="updated-tags" value="{% for tag in tags %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input id="post-button" type="button" value="Update Post" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a href="/blog">Cancel</a></td>
                        </tr>
                    </table>
                </form>
            {% endif %}
{% endblock %}