{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <p>Hi there! My name's Nick. I'm not the best at writing these little biographies, but I'll try my best. Bear with me.</p>
    <p>I'm a freshman studying computer science at the <a href="http://www.buffalo.edu/" target="_blank">University at Buffalo</a>. Classes are required, but I much prefer hacking on things and learning on my own. I really don't feel like writing all the things I've played around or worked with, but I'll just say my favorite language is Python.</p>
    <p>In Spring 2012, I organized the first ever hackathon at my University. It's called <a href="http://ubhacking.com/" target="_blank">UB Hacking</a>, and it's quite the corny name, but the hackathon was awesome. Apparently, I am leading the organization of these hackathons until I graduate. It's fun.</p>
    <p>Currently, I work under <a href="http://www.cse.buffalo.edu/~jcorso/" target="_blank">Jason J. Corso, PhD</a>. Our current project is Measuring the Semantic Complexity of Images. We're trying to determine the amount of contextual information is necessary to describe an image, pretty much. We don't really know what will come from our data, but I see it impacting image search results.</p>
{% endblock %}