{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block css %}<link rel='stylesheet' type='text/css' href='/static/stylesheets/home.css' />{% endblock %}

{% block content %}
{% for post in posts %}
<div class="blog-post">
    <span id="post-title"><a href="/blog/post/{{ post.path }}">{{ post.title }}</a></span>
    <span id="post-date">{{ post.timestamp|date:"N d, Y " }}</span>|
    <span id="post-tags">
        Tags:
        {% for tag in post.tags %}
        <a href="/blog/tag/{{ tag.path }}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </span>
</div>
{% endfor %}
{% endblock %}