{% extends "base.html" %}

{% block title %}Note Cards{% endblock %}

{% block css %}<link rel='stylesheet' type='text/css' href='/static/stylesheets/note_cards.css' />{% endblock %}


{% block scripts %}
    {% if is_admin %}
        <script type="text/javascript">
            $(document).ready(function() {
                $("#card-name").change(function() {
                    if($("#card-name option:selected").val() === "New Title...") {
                        var new_title = prompt("Enter card title:", "");
                        if(new_title === null || new_title === "") {
                            new_title = "New Title...";
                        }
                        $("#card-name option:selected").replaceWith("<option>" + new_title + "</option>");
                    }
                });
                
                if($("#card-name option:selected").val() === "New Title...") {
                        var new_title = prompt("Enter card title:", "");
                        if(new_title === null || new_title === "") {
                            new_title = "New Title...";
                        }
                        $("#card-name option:selected").replaceWith("<option>" + new_title + "</option>");
                    }
                    
                $("#card-button").click(function() {
                    $("#new-card-form").submit();
                });
                
                $(".edit-note").click(function() {
                    var updated_content = prompt("Enter updated content:", "");
                    var note_id = $(this).getattr("id");
                    $(this).getattr("href").replaceWith("meh");
                    return false;
                });
                
            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
        {% if is_admin %}
            <form id="new-card-form" action="/note_cards" method="post">
                <table>
                    <tr>
                        <td><label for="card-name">Card Name:</label></td>
                        <td>
                            <select name="card-name" id="card-name">
                                {% for card in cards %}
                                <option>{{ card.title }}</option>
                                {% endfor %}
                                <option>New Title...</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="card-content">Card Content:</label></td>
                        <td><input name="card-content" size="100" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input id="card-button" type="button" value="New Card" /></td>
                    </tr>
                </table>
            </form>
        {% endif %}
        {% for card in cards %}
            <div class="index-card" {% if forloop.first %}style="margin-top: 0px;"{% endif %}>
                <p>{{ card.title }} ({{ card.timestamp.month }}.{{ card.timestamp.day }}.{{ card.timestamp.year }}):</p>
                <ul>{% for note in card.notes %}
                    <li>{{ note.content }}
                        {% if is_admin %}<a class="edit-note" id="{{ note.key }}" href="/note_card/edit">edit</a>{% endif %}
                    </li>{% endfor %}
                </ul>
            </div>            
        {% endfor %}
{% endblock %}