{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
            {% if is_admin %}
                <div>
                    Add A Project
                    <form id="new-project-form" action="/projects" method="post">
                        <table>
                            <tr>
                                <td><label for="project-title">Title:</label></td>
                                <td><input name="project-title" value="{{ old_title }}" /></td>
                            </tr>
                            {% if title_error %}
                            <tr>
                                <td></td>
                                <td style="color: red;">You did not enter a title for the project.</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td><label for="project-start-date">Date Began:</label></td>
                                <td><input name="project-start-date" value="{{ old_start_date }}" /></td>
                            </tr>
                            <tr>
                                <td><label for="project-summary">Project Summary:</label></td>
                                <td><input name="project-summary" value="{{ old_summary }}" /></td>
                            </tr>
                            <tr>
                                <td><label for="github-link">GitHub Repo URL:</label></td>
                                <td><input name="github-link" value="{{ old_github_link }}" /></td>
                            </tr>
                            <tr>
                                <td><label for="download-link">Download URL:</label></td>
                                <td><input name="download-link" value="{{ old_dl_link }}" /></td>
                            </tr>
                            <tr>
                                <td><label for="project-lang">Writen In:</label></td>
                                <td><input name="project-lang" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button id="project-button">Create New Post</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            {% endif %}
            <p>Projects I have worked on or am currently working on:</p>
            <ul>
                <li>English III Flash Card Vocabularly Review (June 2010)</li>
                    <ul>
                        <li>Contains all the vocabulary words that were included in the 
                        review packet for my English III class's final exam.</li>
                        <li>This was one of my first GUI applications written in Java, and uses 
                        the Swing framework.</li>
                        <li><a href="/static/projects/eng_iii_flash_cards.jar">Download</a></li>
                    </ul>
                <li>FRC Java Control System Simulation (November 2010)</li>
                    <ul>
                        <li>A software simulation of the FRC Control System for Java.</li>
                        <li>Allows students to write FRC code in Java, and simulate what the 
                        theoretical output would be.</li>
                        <li><a href="http://code.google.com/p/frcjcss/" target="_blank">Project Home</a>
                    </ul>
                <li>FRC Team 11 Robot Software (January 2011)</li>
                    <ul>
                        <li>The software system FRC Team 11, <a href="http://mort11.org/"  target="_blank">MORT</a>,
                        used for their robot at multiple competitions.</li>
                        <li>Written in Java, and utilizes 
                        <a href="http://firstforge.wpi.edu/sf/projects/wpilib"  target="_blank">WPILib</a>.</li>
                        <li><a href="https://github.com/mort11/MORTasaurus"  target="_blank">GitHub Repo</a></li>
                        </ul>
                <li>web.py Blog (May 2011)</li>
                    <ul>
                        <li>Custom blogging engine using the web.py framework.</li>
                        <li>Uses a text file instead of a database.</li>
                        <li>Development has been postponed due to NickDiRienzo.com running on Google App Engine.</li>
                        <li><a href="https://github.com/nickdirienzo/web.py-Blog"  target="_blank">GitHub Repo</a></li>
                    </ul>
                <li>SmarterPhone (July 2011)</li>
                    <ul>
                        <li>Allows users to control certain web services over SMS.</li>
                        <li>Currently, I am working on getting Google Calendar control working.</li>
                        <li><a href="https://github.com/nickdirienzo/smarterphone-desktop"  target="_blank">GitHub Repo</a></li>
                    </ul>
                <li>NickDiRienzo.com (August 2011)</li>
                    <ul>
                        <li>Website developed using Python and Google App Engine.</li>
                        <li>Features: Custom Blog Engine (will add more soon)</li>
                        <li><a href="https://github.com/nickdirienzo/nickdirienzo-dot-com"  target="_blank">GitHub Repo</a></li>
                    </ul>
                </ul>
{% endblock %}