{% extends "base.html" %}

{% block title %}Talks{% endblock %}

{% block content %}
    <p>Just a bit of a placeholder for now...</p>
    <p>I gave talks on Python and web development using web.py to the ACM student chapter at UB in the Spring 2012 semester.</p>
    <p>My first BarCamp talk will be at <a href="http://barcamproc.org/" target="_blank">BarCamp Rochester</a>. I'm going to be talking about how to organize a hackathon and how to be an awesome freshman; I'm just trying to come up with a catchy title before I say I'm doing a talk on the BarCamp Rochester site.</p>
{% endblock %}